<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue-component</title>
	<script src="vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
	<style>
		
	</style>
</head>
<body>
	<p>我手机想了<i class="sup">R</i></p>
	<div id="app">
		{{ count }}
		<first-component v-on:increment="total"></first-component>
		<first-component v-on:increment="total"></first-component>
	</div>
	<script>
		var simpleComponent = {
			template: '\
				<button v-on:click="increment">{{ counter }}</button>\
			',
			data: function() {
				return {
					counter: 0
				}
			},
			methods: {
				increment: function() {
					this.counter+=1;
					this.$emit("increment");
				}
			}
		}
		var app = new Vue({
			el:'#app',
			data:{
				count: 0
			},
			components: {
				'first-component': simpleComponent
			},
			methods: {
				total: function() {
					this.count += 1;
				}
			}
			
		});
	</script>
</body>
</html>